.pb2 {
	--gradient-background: #272727;
	--gradient-upgrade: hsl(0, 0%, 50%, 0.5);
	--gradient-upgrade-5: hsl(0, 0%, 75%, 0.5);
	--gradient-upgrade-boost: hsl(60, 100%, 50%, 0.5);
}

.menutabs:nth-child(1) .pb2 {
	background:
		repeating-linear-gradient(90deg,
			transparent,
			transparent 80%,
			transparent 90%,
			var(--gradient-upgrade-boost) 100%),
		repeating-linear-gradient(90deg,
			transparent,
			transparent 10%,
			var(--gradient-upgrade-5) 20%),
		var(--gradient-background);
}

.menutabs:nth-child(2) .pb2 {
	background:
		repeating-linear-gradient(90deg,
			transparent,
			transparent 96%,
			var(--gradient-upgrade-boost) 100%),
		repeating-linear-gradient(90deg,
			transparent,
			transparent 16%,
			var(--gradient-upgrade-5) 20%),
		repeating-linear-gradient(90deg,
			transparent,
			var(--gradient-upgrade) 4%),
		var(--gradient-background);
}

/* Please note that I use 125% system screen scale */

/* fix jumpy antimatter (happens at ~110k) */
#antimatter_block {
	white-space: nowrap;
}

/* fix jumpy news (table will still jump but the whole page won't) */
/* better way to fix requires <td> to have a <div> inside */
.header {
	height: 50px;
	overflow: hidden;
}

/* fix jumpy table */
#gameboard>*>*>
td.button_holder {
	width: 12.5%;
}
#gameboard>*>*>
td.storage_holder {
	width: 12.5%;
}
#gameboard>*>*>
td.pb_holder {
	width: 25%;
}